@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.loader-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.95);
    z-index: 100000;

    .loader-image{
        width: 6rem;
        height: 6rem;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }

    .text{
        padding-top: 0.8rem;
        font-size: 1.6rem;
        line-height: 4rem;
        color: #FFFFFF;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}