@import '~shared/styles/variables/colors';
@import '~shared/styles/tools/transitions';

.finish-head-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    &.disabled{
        pointer-events: none;
    }

    p{
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

    .diagrams-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        &>*:nth-child(3){
            @media (max-width: 700px) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    .single-chart {
        width: 100%;
        justify-content: space-around;

        .circular-chart{
            margin: auto;
        }

        .info{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &>*{
                display: block;
                max-width: 18rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }

            &>*:nth-child(1){
                font-size: 2.4rem;
                line-height: 3.6rem;
                font-weight: 600;
                padding-bottom: 0.6rem;
            }

            &>*:nth-child(2){
                text-transform: uppercase;
                font-size: 1rem;
                line-height: 1.6rem;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .circular-chart {
        display: block;
        max-width: 100%;
        max-height: 23rem;
    }

    .circle-bg {
        fill: none;
        stroke: #2D2D2D;
        stroke-width: 1.6;
    }

    .circle {
        fill: none;
        stroke-width: 1.6;
        animation: progress 1s ease-out forwards;
        stroke: $green;
    }

    .circle-dash{
        fill: none;
        stroke-width: 1.6;
        stroke-dasharray: 0.8;
        animation: progress 1s ease-out forwards;
        stroke: $green;
    }

    @keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }

    .info-block{
        text-align: center;
        width: 90%;
        margin: auto;
        padding: 4.8rem 0 4rem 0;

        @media (max-width: 1023px) {
            width: 100%;
            padding: 2.4rem 0;
        }
    }

    .buttons-block{
        margin: auto;
        display: flex;
        padding-bottom: 4.8rem;
        &>*:not(:last-child){
            margin-right: 2.4rem;
        }

        @media (max-width: 700px) {
            flex-direction: column;

            &>*{
                width: 100%;
            }

            &>*:not(:last-child){
                margin-right: 0;
                margin-bottom: 1.2rem;
            }
        }

    }

    .share-block-wrapper{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>p{
            padding-bottom: 1.6rem;
            text-align: center;
        }

        .share-block{
            display: flex;
            padding-bottom: 5.6rem;

            &>*:not(:last-child){
                margin-right: 1.6rem;
            }

            .share-button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4.8rem;
                height: 4.8rem;
                background-color: $green;
                border: 1px solid $green;
                cursor: pointer;
                @include transition-hover;

                @media (max-width: 700px) {
                    width: 6rem;
                    height: 6rem;
                }

                &>img{
                    width: 3rem;
                    height: 3rem;
                    filter: brightness(0%);
                    @include transition-hover;
                }

                &:hover{
                    background-color: transparent;
                    @include transition-hover;
                    &>img{
                        filter: none;
                        @include transition-hover;
                    }
                }
            }
        }
    }
}