@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.button-animate-component {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 2.4rem;
    min-width: 20rem;
    background-color: $green;
    border: 1px solid $green;
    box-shadow: none;
    color: #242424;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include transition;

    &:hover{
        background-color: $black;
        color: $green;
        @include transition;
    }
}
