@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.player-sticker-wrapper{
    width: 24rem;
    display: flex;
    align-items: center;
    border: 2px solid #252525;
    border-radius: 3.3rem;
    overflow: hidden;
    text-overflow: ellipsis;


    @media (max-width: 700px) {
        min-width: 20rem;
    }

    .user-circle{
        min-width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        border: 1px solid $green;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.2rem;

        img{
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    p{
        font-size: 1.2rem;
        line-height: 2.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

}
