@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.statistics-board-wrapper{
    display: flex;
    flex-direction: column;
    height: max-content;
    border: 1px solid #006A48;
    background-color: $black;
    max-width: 49rem;

    @media (max-width: 900px) {
        max-width: 100%;
    }

    &>*:not(:last-child){
        border-bottom: 1px dashed #006A48;
    }

    .head{
        padding: 1.7rem 2.4rem 1.6rem 2.4rem;
        border-bottom: 1px solid #006A48;
        background-color: rgba(0, 255, 173, 0.1);

        &>p{
            font-size: 2.4rem;
            line-height: 4.8rem;
            font-weight: 500;
        }
    }

    .row{
        padding: 2.4rem;

        &>*:nth-child(1){
            font-size: 2.4rem;
            line-height: 4.8rem;
            span{
                font-size: 3.6rem;
                line-height: 4.8rem;
                font-weight: 600;
            }
        }
        &>*:nth-child(2){
            font-size: 1.6rem;
            line-height: 4rem;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
