@import '~@styles/variables/colors';

.header-wrapper{
    width: 100%;
    height: 12rem;
    display: flex;
    border-bottom: 1px solid $dark-10;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;


    .logo{
        img{
            width: 12rem;
            height: 12rem;
        }
    }
}
