@import '~@styles/variables/colors';

.header-wrapper{
    width: 100%;
    height: 10.8rem;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 2.4rem;

    .logo{
        background-color: $black;
        img{
            height: 10.8rem;
        }
    }
}
