//Primary Dark
$dark: #0A1D38;
$dark-90: #23334C;
$dark-80: #3B4A60;
$dark-70: #546174;
$dark-60: #6C7788;
$dark-50: #858E9C;
$dark-40: #9DA5B0;
$dark-30: #B6BBC3;
$dark-20: #CED2D7;
$dark-10: #E7E8EB;
$dark-5: #F3F4F5;
$dark-3: #F8F8F9;

$orange: #FF8519;
$orange-90: #FF9130;
$orange-80: #FF9E47;
$orange-70: #FFAA5E;
$orange-60: #FFB675;
$orange-50: #FFC28C;
$orange-40: #FFCEA3;
$orange-30: #FFDABA;
$orange-20: #FFE7D1;
$orange-10: #FFF3E8;

$red: #FF1919;
