@import '~shared/styles/variables/colors';
@import '~shared/styles/tools/transitions';

.close-image-component{
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 1px solid $green;

  img{
    width: 100%;
    height: 100%;
    z-index: 3;
    filter: none;
    @include transition-hover;
  }

  &:hover{
    background-color: $green;
    border: 1px solid $green;
    @include transition-hover;
    img{
      @include transition-hover;
      filter: brightness(0);
    }
  }
}
