@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.square-popover-wrapper {

}

.Popover{
  z-index: 100;
}

.Popover-tip {
  display: none;
}

.square {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #3D3D3D;
  border: 1px solid #3D3D3D;
  animation-duration: 0.4s;
  opacity: 1;
  @include transition;


  &.completed {
    background-color: $green;
    @include transition;

    &.hovered{
      opacity: 0.8;
      @include transition;
    }
  }

  &.completed-after {
    background-color: #50B6D7;
    @include transition;

    &.hovered{
      opacity: 0.8;
      @include transition;
    }
  }
}

.square-info-container {
  max-width: 32rem;
  overflow: hidden;
  padding: 1.6rem;
  background-color: #505050;
  border-radius: 0.2rem;

  &>*:not(:last-child){
    padding-bottom: 0.4rem;
  }

  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}