@import '~@styles/variables/colors';

.home-wrapper{
    margin-top: 10rem;

    @media (max-width: 1023px) {
        margin-top: 2.8rem;
    }

    .container{
        display: flex;

        @media (max-width: 1023px) {
            font-size: 10px;
        }
    }

    .main-info{
        display: flex;
        flex-direction: column;
        padding: 3.8rem 0;
        max-width: 50%;
        h1{
            padding-bottom: 3rem;
        }

        p{
            padding-bottom: 6rem;
            padding-right: 10rem;
        }

        .buttons-block{
            display: flex;
            flex-direction: column;
            &>*:not(:last-child){
                margin-bottom: 1.8rem;
            }
        }

        @media (max-width: 1023px) {
            max-width: 100%;

            p{
                padding-bottom: 6rem;
                padding-right: 0;
            }

        }

        @media (max-width: 700px) {
            .buttons-block{
                align-items: center;
                &>*{
                    width: 100%;
                }
            }
        }
    }

    .leader-board-wrapper{
        width: 40%;


        @media (max-width: 1023px) {
            position: absolute;
            left: 0;
            transform: translate(20%, 20%);
            width: 100%;
        }

        @media (max-width: 900px) {
            position: absolute;
            transform: translate(20%, 30%);
            width: 90%;
        }
        @media (max-width: 767px) {
            position: absolute;
            transform: translate(0, 70%);
            width: 100%;
        }
    }

    #hero{
        height: 100vh;
        margin: auto;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.15;
    }
}
