@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.home-wrapper{
    margin: 10rem 0;

    @media (max-width: 1023px) {
        margin: 2rem 0;
    }

    .container{
        display: flex;

        @media (max-width: 1023px) {
            font-size: 10px;
            flex-direction: column;
        }
    }

    .main-info{
        display: flex;
        flex-direction: column;
        padding: 3.8rem 0;
        max-width: 50%;
        h1{
            padding-bottom: 3rem;
            width: max-content;

            @media (max-width: 1023px) {
                width: auto;
            }
        }

        p{
            padding-bottom: 6rem;
            padding-right: 10rem;

            @media (max-width: 1280px) {
                padding-right: 4rem;
            }

        }

        .buttons-block{
            display: flex;
            flex-direction: column;
            width: 29rem;
            &>*:not(:last-child){
                margin-bottom: 3.2rem;
            }

            &>a{
                color: #00FFAD;
                text-transform: uppercase;
                font-size: 1.6rem;
                line-height: 4rem;
                font-weight: 700;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 29rem;
                min-width: 29rem;
                @include transition-hover;
                &:hover{
                    opacity: 0.6;
                    @include transition-hover;
                }
            }
        }

        @media (max-width: 1023px) {
            max-width: 100%;

            p{
                padding-bottom: 6rem;
                padding-right: 0;
            }

        }

        @media (max-width: 900px) {
            .buttons-block{
                align-items: center;
                width: 50%;
                margin: auto;
                &>*{
                    width: 100%;
                }
                &>a{
                    width: 100%;
                }
            }
        }

        @media (max-width: 700px) {
            .buttons-block{
                align-items: center;
                width: 100%;
                &>*{
                    width: 100%;
                }
                &>a{
                    width: 100%;
                }
            }
        }
    }

    .leader-board-wrapper{
        width: 40%;

        @media (max-width: 1280px) {
            width: 50%;
        }

        @media (max-width: 1023px) {
            width: 100%;
        }
        //
        //@media (max-width: 900px) {
        //    position: absolute;
        //    transform: translate(20%, 30%);
        //    width: 90%;
        //}
        //@media (max-width: 767px) {
        //    position: absolute;
        //    transform: translate(0, 70%);
        //    width: 100%;
        //}
    }

    #hero{
        height: 100vh;
        margin: auto;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.15;
        z-index: -1;
    }
}
