@import '~@styles/tools/transitions';

.square-container-wrapper{
    grid-area: square-container;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #007C54;
    padding: 2.4rem 1.2rem 2.4rem 2.4rem;
    width: 100%;
    height: 50rem;
    @include transition;

    @media (max-width: 1024px) {
        height: 30rem;
    }

    .square-container{
        width: 100%;
        height: 100%;
        padding-right: 1.2rem;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 3.2rem);
        grid-template-rows: repeat(auto-fit, 3.2rem);
        grid-gap: 0.8rem;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        scrollbar-color: rgba(0, 255, 173, 0.4) transparent;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 255, 173, 0.4);
        }
    }
}

.click-zone{
    grid-area: click-zone;
    border: 1px solid #007C54;
    height: 50rem;
    padding: 2.4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    font: inherit;
    color: inherit;
    background-color: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:hover{
        background-color: rgba(0, 255, 173, 0.05);
    }

    &:active{
        background-color: rgba(0, 255, 173, 0.1);
    }

    @media (max-width: 1024px) {
        height: 15rem;
    }

    .tap-icon-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 24rem;
        transform: translateY(-2.4rem);
        img{
            width: 100%;
        }
        p{
            position: absolute;
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.6rem;
            font-weight: 700;
            text-align: center;
        }

        @media (max-width: 1024px) {
            transform: translateY(0);
        }
    }

    .info{
        font-size: 1.2rem;
        line-height: 2rem;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        bottom: 2.4rem;

        @media (max-width: 1024px) {
            display: none;
        }
    }
}