@import '~shared/styles/variables/colors';
@import '~shared/styles/tools/transitions';

.modal-portal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        width: 100%;
        height: 100%;
    }
}
