@import '~shared/styles/variables/colors';
@import '~shared/styles/tools/transitions';

.game-wrapper{
    padding: 3.2rem 0 10rem 0;
    min-height: calc(100vh - 7rem);
    display: flex;
    align-items: center;

    @media (max-width: 1023px) {
        padding: 2.8rem 0;
    }

    @media (max-width: 700px) {
        align-items: flex-start;
    }

    .play-zone-wrapper{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 6rem/4));
        grid-template-areas:
                "timer             counter          capacity         speed"
                "square-container  square-container square-container click-zone";
        grid-template-rows: auto;
        grid-gap: 2rem;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                    "timer            counter"
                    "capacity         speed"
                    "square-container square-container"
                    "click-zone       click-zone";
        }

        @media (max-width: 700px) {
            grid-gap: 1.2rem;
        }


        .timer, .counter, .capacity, .speed{
            height: 100%;
            max-width: 100%;
            background-color: #1B1B1B;
            padding: 2.4rem;
            border-top: 1px solid #007C54;
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;

            @media (max-width: 700px) {
                padding: 1.2rem;
            }

            &>*:nth-child(1){
                font-size: 1.8rem;
                line-height: 2.4rem;
                padding-bottom: 1.6rem;

                @media (max-width: 700px) {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    padding-bottom: 0.8rem;
                }
            }

            &>*:nth-child(2){
                font-size: 4.8rem;
                line-height: 4.8rem;
                font-weight: 600;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (max-width: 700px) {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
        }

        .timer{
            grid-area: timer;
            background-image: url("~shared/images/icons/timer.svg");
        }

        .counter{
            grid-area: counter;
            background-image: url("~shared/images/icons/arrows.svg");
        }

        .capacity{
            grid-area: capacity;
            background-image: url("~shared/images/icons/capacity.svg");
        }

        .speed{
            grid-area: speed;
            background-image: url("~shared/images/icons/processing.svg");
        }
    }

    .share-block-wrapper{
        margin: auto;
        display: flex;
        padding-top: 2.4rem;

        .build-button{
            border: 1px solid #00FFAD;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0.8rem;
            min-width: 23rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-right: 1.6rem;

            &:hover{
                background-color: $green;
                color: $black;
                @include transition-hover;
            }
        }

        .share-block{
            display: flex;

            &>*:not(:last-child){
                margin-right: 1.6rem;
            }

            .share-button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4.8rem;
                height: 4.8rem;
                border: 1px solid $green;
                cursor: pointer;
                @include transition-hover;

                @media (max-width: 700px) {
                    width: 6rem;
                    height: 6rem;
                }

                &>img{
                    width: 2.4rem;
                    height: 2.4rem;
                    filter: none;
                    @include transition-hover;
                }

                &:hover{
                    background-color: $green;
                    @include transition-hover;
                    &>img{
                        filter: brightness(0%);
                        @include transition-hover;
                    }
                }
            }
        }
    }
}
