@import "./variables/colors.scss";
@import "./tools/transitions.scss";
@import "./typography/typography.scss";
@import "/animate.scss";
@import "/glitch.scss";

@font-face {
    font-family: 'Exo';
    src: url('~@fonts/Exo-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Exo';
    src: url('~@fonts/Exo-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Exo';
    src: url('~@fonts/Exo-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Exo';
    src: url('~@fonts/Exo-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: none;
    outline: none;
}

html{
    font-size: 10px;

    @media (max-width: 1366px) {
        font-size: 10px;
    }
    @media (max-width: 1023px) {
        font-size: 8px;
    }


    @media (max-width: 2560px) and (max-height: 850px) {
        font-size: 10px;
    }
    @media (max-width: 1920px) and (max-height: 950px) {
        font-size: 10px;
    }
    @media (max-width: 1920px) and (max-height: 690px) {
        font-size: 8px;
    }
    @media (max-width: 1366px) and (max-height: 750px){
        font-size: 8px;
    }
    @media (max-width: 1024px) and (max-height: 1000px){
        font-size: 8px;
    }

    @media (max-height: 600px){
        font-size: 7px;
    }
}

html, body {
    overflow-x: hidden;
}

body{
    background-color: black;
    min-height: 100vh;
}

input, textarea {
    &::-webkit-input-placeholder {
        @include transition();
    }

    &:-moz-placeholder {
        @include transition();
    }

    &:-moz-placeholder {
        @include transition();
    }

    &:-ms-input-placeholder {
        @include transition();
    }

    &:focus::-webkit-input-placeholder {
        color: transparent;
        @include transition();

    }

    &:focus::-moz-placeholder {
        color: transparent;
    }

    &:focus:-moz-placeholder {
        color: transparent;
        @include transition();
    }

    &:focus:-ms-input-placeholder {
        color: transparent;
        @include transition();
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.container{
    max-width: 194.8rem;
    width: 100%;
    margin: auto;
    padding: 0 2.4rem;

    @media (max-width: 1980px) {
       max-width: 140.8rem;
    }
}


