.stats {
  overflow-x: scroll;
  flex-wrap: nowrap;
  max-width: 800px;
}

.stat-circle {
  height: 200px;
  width: 200px;
}

.results-summary h3 {
  line-height: 1.5rem;
  font-weight: 100;
}

.donut-content {
  &.allow-events {
    pointer-events: none;
  }

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
