@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.build-on-solana-popup-popup {
    width: 50rem;
    min-width: 32rem;
    padding: 3.2rem 4.8rem;
    //border: 1px solid $green;
    background-color: #242424;

    .close-image-component {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
    }

    .title {
        padding-bottom: 2.4rem;
        font-size: 1.8rem;
    }

    .input-title{
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding-left: 0.8rem;
        padding-bottom: 1.2rem;
    }

    .input-button-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &>*{
            width: 100%;
        }

        &>*:not(:last-child){
            margin-bottom: 1.6rem;
        }

    }
}
