@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.game-wrapper{
    padding: 3.2rem 0 10rem 0;
    min-height: calc(100vh - 7rem);
    display: flex;
    align-items: center;

    @media (max-width: 1023px) {
        padding: 2.8rem 0;
    }

    @media (max-width: 700px) {
        align-items: flex-start;
    }

    .play-zone-wrapper{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 6rem/4));
        grid-template-areas:
                "timer             counter          capacity         speed"
                "square-container  square-container square-container click-zone";
        grid-template-rows: auto;
        grid-gap: 2rem;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(4, calc(50% - 2rem/2));
            grid-template-areas:
                    "timer            counter"
                    "capacity         speed"
                    "square-container square-container"
                    "click-zone       click-zone";
        }

        @media (max-width: 700px) {
            grid-gap: 1.2rem;
        }


        .timer, .counter, .capacity, .speed{
            height: 100%;
            max-width: 100%;
            background-color: #1B1B1B;
            padding: 2.4rem;
            border-top: 1px solid #007C54;
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;

            @media (max-width: 700px) {
                padding: 1.2rem;
            }

            &>*:nth-child(1){
                font-size: 1.8rem;
                line-height: 2.4rem;
                padding-bottom: 1.6rem;

                @media (max-width: 700px) {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    padding-bottom: 0.8rem;
                }
            }

            &>*:nth-child(2){
                font-size: 4.8rem;
                line-height: 4.8rem;
                font-weight: 600;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (max-width: 700px) {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
        }

        .timer{
            grid-area: timer;
            background-image: url("../../../shared/images/icons/timer.svg");
        }

        .counter{
            grid-area: counter;
            background-image: url("../../../shared/images/icons/arrows.svg");
        }

        .capacity{
            grid-area: capacity;
            background-image: url("../../../shared/images/icons/capacity.svg");
        }

        .speed{
            grid-area: speed;
            background-image: url("../../../shared/images/icons/processing.svg");
        }

        .square-container-wrapper{
            grid-area: square-container;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #007C54;
            padding: 2.4rem 1.2rem 2.4rem 2.4rem;
            width: 100%;
            height: 50rem;
            @include transition;

            @media (max-width: 1024px) {
               height: 30rem;
            }

            .square-container{
                width: 100%;
                height: 100%;
                padding-right: 1.2rem;
                overflow-x: hidden;
                overflow-y: auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, 3.2rem);
                grid-template-rows: repeat(auto-fit, 3.2rem);
                grid-gap: 0.8rem;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;

                scrollbar-color: rgba(0, 255, 173, 0.4) transparent;
                scrollbar-width: thin;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 255, 173, 0.4);
                }
            }
        }

        .click-zone{
            grid-area: click-zone;
            border: 1px solid #007C54;
            height: 50rem;
            padding: 2.4rem 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            overflow: hidden;

            font: inherit;
            color: inherit;
            background-color: transparent;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            &:hover{
                background-color: rgba(0, 255, 173, 0.05);
            }

            &:active{
                background-color: rgba(0, 255, 173, 0.1);
            }

            @media (max-width: 1024px) {
                height: 15rem;
            }

            .tap-icon-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 24rem;
                transform: translateY(-2.4rem);
                img{
                    width: 100%;
                }
                p{
                    position: absolute;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    font-weight: 700;
                    text-align: center;
                }

                @media (max-width: 1024px) {
                    transform: translateY(0);
                }
            }

            .info{
                font-size: 1.2rem;
                line-height: 2rem;
                text-transform: uppercase;
                text-align: center;
                position: absolute;
                bottom: 2.4rem;

                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }
}
