@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.game-wrapper{
    padding: 3.2rem 0 10rem 0;
    min-height: calc(100vh - 7rem);
    display: flex;
    align-items: center;

    @media (max-width: 1023px) {
        padding: 2.8rem 0;
    }

    .play-zone-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-row-gap: 2rem;

            .square-container-wrapper{
                height: 40rem;
            }
        }

        .square-container-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #007C54;
            padding: 2.4rem 1.2rem 2.4rem 2.4rem;
            width: 100%;
            height: 50rem;
            @include transition;

            &.started:hover{
                background-color: rgba(0, 255, 173, 0.08);
                cursor: pointer;
                @include transition;
            }

            .square-container{
                width: 100%;
                height: 100%;
                padding-right: 1.2rem;
                overflow-x: hidden;
                overflow-y: auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, 3.2rem);
                grid-template-rows: repeat(auto-fit, 3.2rem);
                grid-gap: 0.8rem;
                -moz-user-select: none;
                user-select: none;

                scrollbar-color: rgba(0, 255, 173, 0.4) transparent;
                scrollbar-width: thin;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 255, 173, 0.4);
                }
            }
        }
    }
}
