.glitch-text{
  white-space: normal;
  width: max-content;

  @media (max-width: 700px) {
    width: auto;
  }

  &:before, &:after{
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    top: 0;
  }

  &:before{
    left: -3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
  &:after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(23px, auto, 117px, 0);
  }

  5% {
    clip: rect(44px, auto, 19px, 30px);
  }

  10% {
    clip: rect(3px, auto, 28px, 10px);
  }

  15% {
    clip: rect(60px, auto, 118px, 30px);
  }

  20% {
    clip: rect(4px, auto, 32px, 30px);
  }

  25% {
    clip: rect(126px, auto, 114px, 30px);
  }

  30% {
    clip: rect(150px, auto, 74px, 30px);
  }

  35% {
    clip: rect(101px, auto, 72px, 30px);
  }

  40% {
    clip: rect(44px, auto, 15px, 30px);
  }

  45% {
    clip: rect(122px, auto, 88px, 30px);
  }

  50% {
    clip: rect(121px, auto, 23px, 30px);
  }

  55% {
    clip: rect(30px, auto, 106px, 30px);
  }

  60% {
    clip: rect(104px, auto, 27px, 30px);
  }

  65% {
    clip: rect(72px, auto, 6px, 30px);
  }

  70% {
    clip: rect(105px, auto, 63px, 30px);
  }

  75% {
    clip: rect(51px, auto, 52px, 30px);
  }

  80% {
    clip: rect(144px, auto, 142px, 30px);
  }

  85% {
    clip: rect(107px, auto, 42px, 30px);
  }

  90% {
    clip: rect(82px, auto, 139px, 30px);
  }

  95% {
    clip: rect(88px, auto, 56px, 30px);
  }

  100% {
    clip: rect(35px, auto, 121px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(81px, auto, 12px, 30px);
  }

  5% {
    clip: rect(111px, auto, 36px, 30px);
  }

  10% {
    clip: rect(36px, auto, 10px, 30px);
  }

  15% {
    clip: rect(28px, auto, 109px, 30px);
  }

  20% {
    clip: rect(112px, auto, 51px, 30px);
  }

  25% {
    clip: rect(44px, auto, 73px, 30px);
  }

  30% {
    clip: rect(117px, auto, 143px, 30px);
  }

  35% {
    clip: rect(126px, auto, 125px, 30px);
  }

  40% {
    clip: rect(31px, auto, 139px, 30px);
  }

  45% {
    clip: rect(65px, auto, 38px, 30px);
  }

  50% {
    clip: rect(93px, auto, 1px, 30px);
  }

  55% {
    clip: rect(76px, auto, 133px, 30px);
  }

  60% {
    clip: rect(2px, auto, 60px, 30px);
  }

  65% {
    clip: rect(1px, auto, 67px, 30px);
  }

  70% {
    clip: rect(29px, auto, 39px, 30px);
  }

  75% {
    clip: rect(20px, auto, 83px, 30px);
  }

  80% {
    clip: rect(132px, auto, 24px, 30px);
  }

  85% {
    clip: rect(131px, auto, 108px, 30px);
  }

  90% {
    clip: rect(100px, auto, 10px, 30px);
  }

  95% {
    clip: rect(137px, auto, 30px, 30px);
  }

  100% {
    clip: rect(89px, auto, 18px, 30px);
  }
}