@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.start-head-wrapper{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    padding-bottom: 2rem;

    @media (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.2rem;
    }

    &>div{
        height: 100%;
        width: 100%;
        background-color: #1B1B1B;
        padding: 2.4rem;
        border-top: 1px solid #007C54;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @media (max-width: 700px) {
            padding: 1.2rem;
        }


        &>*:nth-child(1){
            font-size: 1.8rem;
            line-height: 2.4rem;
            padding-bottom: 1.6rem;

            @media (max-width: 700px) {
                font-size: 1.6rem;
                line-height: 2.4rem;
                padding-bottom: 0.8rem;
            }
        }

        &>*:nth-child(2){
            font-size: 4.8rem;
            line-height: 4.8rem;
            font-weight: 600;

            @media (max-width: 700px) {
                font-size: 2rem;
                line-height: 2.8rem;
            }
        }
    }

    .timer{
        background-image: url("../../../shared/images/icons/timer.svg");
    }

    .counter{
        background-image: url("../../../shared/images/icons/arrows.svg");
    }

    .processing{
        background-image: url("../../../shared/images/icons/processing.svg");
    }

    .top{
        background-image: url("../../../shared/images/icons/cup.svg");
    }
}
