@import '~shared/styles/variables/colors';
@import '~shared/styles/tools/transitions';

.input-component{
    width: 100%;
    height: 6.8rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 255, 173, 0.5);
    @include transition;

    &.focused{
        border: 1px solid $green;
        @include transition;
    }

    input{
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        color: $white;
        background-color: $black;
        padding: 1.8rem 2.4rem;
        border: 1px solid #0F4937;
        @include transition-hover;
        text-overflow: ellipsis;

        &::-webkit-input-placeholder {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
        }

        &:-moz-placeholder {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
        }

        &:-moz-placeholder {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
        }

        &:-ms-input-placeholder {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
        }
    }

    &.white{
        input{
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            color: $black;
            background-color: white;
            padding: 1.8rem 2.4rem;
            border: 1px solid #0F4937;
            @include transition-hover;
        }
    }

    &.error{
        input{
            color: $red;
        }
    }
}
