@import '~shared/styles/variables/colors';
@import '~shared/styles/tools/transitions';

.button-component {
    min-width: 29rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 2rem 2.1rem 2rem;
    border: 1px solid rgba(0, 255, 173, 0.5);
    background-color: transparent;
    cursor: pointer;
    @include transition-hover;

    &>span{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        z-index: 3;
        color: $black;
    }

    &:before{
        content: '';
        width: calc(100% - 1.2rem);
        height: calc(100% - 1.2rem);
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        background-color: $green;
        border: 1px solid $green;
        z-index: 2;
        @include transition-hover;

    }

    &:hover{
        &>span{
            color: $green;
            @include transition-hover;
        }

        &:before{
            background-color: transparent;
            @include transition-hover;

        }
    }
}
