@import "custom/app";
@import "custom/home";
@import "custom/header";
@import "custom/results";
@import "custom/tx-container";
@import "custom/tx-square";

.modal.show {
  display: block;
}

.btn {
  letter-spacing: 0.1em;
}

.border-dark-purple {
  border-color: darken($purple, 20%);
}

.btn-pink {
  &.btn-secondary {
    border-color: darken($pink, 10%);
  }

  background-color: $pink;

  @include hover-focus {
    background-color: darken($pink, 10%);
  }
}
