@import "custom/app";
@import "custom/game";
@import "custom/home";
@import "custom/header";
@import "custom/payment-card";
@import "custom/results";
@import "custom/tx-container";
@import "custom/tx-square";

.card-body,
.card-header,
.card-footer {
  padding: 1rem;
}

.card-header {
  height: 50px;
}

.card {
  margin-bottom: 0.75rem;
}

.header {
  margin-bottom: 1rem;
}

.header-body {
  padding: 1rem 0;
}

.btn {
  letter-spacing: 0.1em;
}

.btn.input-group {
  input {
    cursor: pointer;

    &:focus {
      cursor: text;
    }
  }
}

.border-dark-purple {
  border-color: darken($purple, 20%);
}

.border-top-dark {
  border-top: 1px solid $dark;
}

.btn-pink {
  &.btn-secondary {
    border-color: darken($pink, 10%);
  }

  background-color: $pink;

  @include hover-focus {
    background-color: darken($pink, 10%);
  }
}

.modal-backdrop {
  pointer-events: none;
}

.modal.show {
  display: block;
}

.b-white {
  background: $white;
}

.c-pointer {
  cursor: pointer;
}

.touch-action-none {
  touch-action: none;
}

.text-ellipsis {
  text-overflow: ellipsis;
}
