name: Node.js CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  buildall:
    runs-on: ubuntu-latest
    name: Build (matrix)
    needs: build
    steps:
      - run: echo "Done"

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package: [client, server]

    defaults:
      run:
        working-directory: ${{ matrix.package }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - run: npm i -g npm@7
      - run: npm ci
      - run: npm run format
      - run: npm run lint
      - run: npm run build
      - run: npm run test
