* {
    font-family: 'Exo', sans-serif;
    color: $white;
    text-decoration: none;
    font-size: 1.4rem;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-size: 5.8rem;
    line-height: 6.6rem;
    font-weight: 600;
    color: #FCFFFE;
}

p {
    color: #FFFFFF;
    font-size: 2.3rem;
    line-height: 3.7rem;

    span{
        font-size: initial;
        line-height: initial;
    }
}


ul {
    list-style-type: none;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.green-text{
    color: $green;
}
